<div class="container">
    <h1>Charts Component</h1>
    <div class="row" *ngIf="barChartConfig.data.datasets.length > 0">
        <div class="col-md-6" >
            <canvas baseChart
                    [data]="barChartConfig.data"
                    [options]="barChartConfig.options"
                    [type]="barChartConfig.type"
            ></canvas>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <canvas baseChart  
                    [data]="pieChartConfig.data"
                    [type]="pieChartConfig.type"
                    [options]="pieChartConfig.options"
            ></canvas>
        </div>
    </div>
</div>

